<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="hp.test.mytv">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <service
            android:name=".services.FetchJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            />

        <receiver android:name=".activity.Widget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>

        <activity
            android:name=".activity.MovieDetail"
            android:label="@string/title_activity_movie_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.Tentang" />
        <activity android:name=".activity.Petunjuk" />
        <activity
            android:name=".activity.Info"
            android:label="@string/title_activity_info"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.Favorite"
            android:label="@string/title_activity_favorite"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.Setting"
            android:label="@string/title_activity_setting"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.Main"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Splash"
            android:theme="@style/SplashTheme" />
    </application>

</manifest>